<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Michanoku | 404</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="container">
    <header>
      <nav>
        <div class="site-title">Michanoku</div>
        <div class="nav-links">
          <a href="/">Index</a>
          <a href="/about">About</a>
          <a href="/contact-me">Contact Me</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="page-title">404</div>
      <div class="content">
        Oops! This content does not exist! Try VHS normcore mukbang truffaut praxis bushwick tousled la croix.
    </main>
    <footer>
      Copyright &copy; Michanoku 2026 - github.com/Michanoku
    </footer>
  </div>
</body>

</html>