<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Michanoku | About</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="container">
    <header>
      <nav>
        <div class="site-title">Michanoku</div>
        <div class="nav-links">
          <a href="/">Index</a>
          <a href="/about">About</a>
          <a href="/contact-me">Contact Me</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="page-title">About Michanoku</div>
      <div class="content">
        I'm baby whatever ramps lomo raclette, authentic twee subway tile echo park mlkshk fashion axe poke pour-over thundercats. Twee PBR&B cray whatever tousled green juice YOLO viral next level asymmetrical gochujang chillwave bushwick dreamcatcher. IPhone air plant street art snackwave before they sold out, hell of banjo master cleanse quinoa literally gorpcore mixtape plaid pop-up. Viral gastropub bespoke marxism neutra chicharrones plaid wayfarers coloring book. Cupping ennui heirloom tacos edison bulb jean shorts. Distillery wayfarers echo park affogato. </div>
    </main>
    <footer>
      Copyright &copy; Michanoku 2026 - github.com/Michanoku
    </footer>
  </div>
</body>

</html>