<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Michanoku | Contact Me</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="container">
    <header>
      <nav>
        <div class="site-title">Michanoku</div>
        <div class="nav-links">
          <a href="/">Index</a>
          <a href="/about">About</a>
          <a href="/contact-me">Contact Me</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="page-title">Contact Me</div>
      <div class="content">
        Get in touch if you want to trade selvage flexitarian, yes plz aesthetic disrupt semiotics migas succulents. Skateboard DSA neutra vinyl. Distillery edison bulb palo santo 8-bit, squid organic street art cold-pressed celiac chambray ascot small batch aesthetic. Truffaut food truck kale chips offal. Cloud bread readymade blackbird spyplane, yuccie everyday carry drinking vinegar yes plz PBR&B ascot vape authentic.
    </main>
    <footer>
      Copyright &copy; Michanoku 2026 - github.com/Michanoku
    </footer>
  </div>
</body>

</html>