<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Michanoku | Index</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="container">
    <header>
      <nav>
        <div class="site-title">Michanoku</div>
        <div class="nav-links">
          <a href="/">Index</a>
          <a href="/about">About</a>
          <a href="/contact-me">Contact Me</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="page-title">Michanoku Index</div>
      <div class="content">
        Put a bird on it schlitz chia cupping, bushwick 8-bit iceland keffiyeh celiac kale chips activated charcoal taxidermy. Mlkshk vegan bodega boys, af palo santo gatekeep selfies shoreditch yes plz echo park cred fam neutra. Echo park biodiesel wolf deep v, cray leggings big mood before they sold out PBR&B readymade viral waistcoat narwhal hoodie. Narwhal hammock vegan bushwick wolf, hoodie fanny pack activated charcoal.
      </div>
    </main>
    <footer>
      Copyright &copy; Michanoku 2026 - github.com/Michanoku
    </footer>
  </div>
</body>

</html>